@media only screen and (min-width: 300px) {
  .story_buttons {
    display: flex;
    flex-direction: row;
    gap: var(--space-medium);
  }
  .edit_button {
    background: var(--color-green);
  }
  .delete_button {
    background: var(--color-red);
  }
}

@media only screen and (min-width: 600px) {
}
