@media only screen and (min-width: 300px) {
  .Button {
    display: flex;
    width: fit-content;
    gap: var(--space-small);
    align-items: center;
  }
  .Button > p {
    color: white;
    font-weight: 700;
    font-size: 15px;
  }
  .Button > span {
    color: white;
    font-size: 15px;
  }
  .Button:hover {
    box-shadow: 0 2px 5px 1px lightgray;
  }
}

@media only screen and (min-width: 600px) {
}
