@media only screen and (min-width: 300px) {
    .SectionNavLink {
        background: #90A4AE;
        text-decoration: none !important;
        display: flex;
        width: fit-content;
        padding: 6px;
        gap: 5px;
        align-items: center;
        border-radius: 4px;
    }
    .SectionNavLink > p {
        color: rgba(255,255,255,0.3);
        font-weight: 700;
        font-size: larger;
    }
    .SectionNavLink > span {
        color: rgba(255,255,255,0.3);;
    }
    .active > p {
        color: white;
    }
    .active > span {
        color: white;
    }
}

@media only screen and (min-width: 600px) {
    

}