@media only screen and (min-width: 300px) {
  .goal_text {
    padding: 6px;
    border-radius: var(--border-radius-default);
  }

  .status_radio {
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
  }
  .status_radio > div {
    display: flex;
    gap: var(--space-small);
  }
  .status_radio > div > label {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
  }
  .status_radio > div > input {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
  }

  .goal_buttons {
    display: flex;
    flex-direction: row;
    gap: var(--space-medium);
  }
  .edit_button {
    background: var(--color-green);
  }
  .delete_button {
    background: var(--color-red);
  }
}

@media only screen and (min-width: 600px) {
  .status_radio {
    flex-direction: row;
  }
}
