@media only screen and (min-width: 300px) {
  .container {
    margin: 50px auto 0 auto;
    width: 90%;
    max-width: 400px;
  }
  .container > * {
    margin-bottom: 10px;
  }
  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .page-title {
    font-size: 40px;
    font-weight: 700;
  }
  .title-subtitle {
    font-size: 24px;
    font-weight: 400;
  }
  .bold {
    font-weight: 700;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 600px;
  }
  nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
